div.hiddenImageHolder {
    position:absolute;
    z-index: 0;
}

div.hiddenImageHolder img {
    width:0px;
    height:0px
}

#GameOverDiv {
    position:absolute;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    z-index: 100;
    background-color:rgba(255,0,0,0.5);
    display: none;
}